.rectangle {
    background-color: aqua;
    width: 190px;
    padding: 10px;
    margin: 50px;
}

.red {
    background-color: red;
    color: white;
}

.noSelect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}